<%= render "shared/menu" %>

<div class="container">

	<h1>Editing site: <%= @site.domain %></h1>

	<% back_link = link_to 'Back', @site, class: "btn" %>

	<%= render 'form', back_link: back_link %>

</div>
