<%= render "shared/menu" %>

<div class="container">

	<h1>Welcome to SocialManager</h1>
	<div class="row-fluid show-grid">
		<div class="span12 performance">
			<h3>Performance</h3>
		</div>

	</div>
	<div class="row-fluid show-grid post">
		<div class="span6 queue">
			<h3>Queue</h3>
		</div>
		<div class="span6 pool">
			<h3>Pool</h3>
		</div>
	</div>
	<div class="row-fluid show-grid admin">
		<div class="span4 account">
			<h3>Account</h3>
		</div>
		<div class="span4 tag">
			<h3>Tag</h3>
		</div>
		<div class="span4 module">
			<h3>Module</h3>
		</div>
	</div>
</div>
