<h1>New site</h1>

<form id="new-site" name="site">
  <div class="field">
    <label for="site_category_id"> site_category_id:</label>
    <input type="text" name="site_category_id" id="site_category_id" value="<%= site_category_id %>" >
  </div>

  <div class="field">
    <label for="domain"> domain:</label>
    <input type="text" name="domain" id="domain" value="<%= domain %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Site" />
  </div>

</form>

<a href="#/index">Back</a>