<%= render "shared/menu" %>

<div class="container">

	<h1>accounts/edit</h1>
	<div class="row-fluid">
		<%= render 'form' %>
	</div>
	<div class="row-fluid">
		<%= link_to 'Back', accounts_path, {class: "btn"} %>
	</div>

</div> 