<%= render "shared/menu" %>

<div class="container">
  
  <h1>New pool post</h1>

  <% 
  back_link = '<a href="#">test</a>'
  if @from == 'rss'
    if @pool_post.account_id
      back_link = link_to 'Back', pool_rss_path(account: @pool_post.account_id), class: "btn"
    else
      back_link = link_to 'Back', pool_rss_path, class: "btn"
    end
  elsif @from == 'web'
    back_link = link_to 'Back', pool_web_path, class: "btn"
  elsif @from == 'social'
    back_link = link_to 'Back', pool_social_path, class: "btn"
  else
    back_link = link_to 'Back', home_index_path, class: "btn"
  end
  %>

  <%= render 'form', back_link: back_link %>

</div>
