<%= render "shared/menu" %>

<div class="container">

	<h1>Editing tag: <%= @tag.str %></h1>

	<% back_link = link_to 'Back', @tag.site, class: "btn" %>

	<%= render 'form', back_link: back_link %>

</div>