<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pool_post_type.title %>
</p>

<%= link_to 'Edit', edit_pool_post_type_path(@pool_post_type) %> |
<%= link_to 'Back', pool_post_types_path %>
