// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.performance {
	background-color: #FFFF99
}

.post {
	background-color: #CCFFE3
}

.queue {
	background-color: #99FF99
}

.pool {
	background-color: #66FFFF
}

.admin {
	background-color: #FFCCFF
}

.account {
	background-color: #99CCFF
}

.tag {
	background-color: #FF99FF
}

.module {
	background-color: #FF9999
}