// Place all the styles related to the pool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pool{

	.table .table .row-fluid {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.table-fixed-header {
		background: rgba(255, 255, 255, .2);
	}

	.table-fixed-header>thead>tr {
		position: relative;
		display: block;
		margin-right: 16px;
	}

	/* set TBODY element to have block level attributes. All other non-IE browsers            */
	/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
	/* induced side effect is that child TDs no longer accept width: auto                     */
	.table-fixed-header>tbody {
		display: block;
		height: 480px;
		overflow: auto;
		width: 100%
	}

	/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
	/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
	/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
	.table-fixed-header thead th {
		width: 200px
	}

	.table-fixed-header thead th + th {
		width: 270px
	}

	.table-fixed-header thead th + th + th {
		width: 260px
	}

	/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
	/* All other non-IE browsers.                                            */
	/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
	.table-fixed-header tbody td {
		width: 200px
	}

	.table-fixed-header tbody td + td {
		width: 260px
	}

	.table-fixed-header tbody td + td + td {
		width: 260px
	}

	.table-fixed-header .table td {
		width: 170px
	}

	.table-fixed-header .table td + td {
		width: 205px
	}

	.table-fixed-header .table td + td + td {
		width: 205px
	}
}