// Place all the styles related to the queue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.queue {

	#fixedHeader {
		position: fixed;
		top: 40px;
	}

	div.waterfall {
		background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
		display: inline-block;
		width: auto;
	}
	
	div.waterfall > div:first-child {
		border-top-left-radius: 4px;
	}

	div.waterfall > div:last-child {
		border-top-right-radius: 4px;
		border-right: 1px solid rgb(221, 221, 221);
	}

	div.waterfall-column {
		width: 230px;
		border-left: 1px solid rgb(221, 221, 221);
		border-top: 1px solid rgb(221, 221, 221);
		float: left;
	}

	div.waterfall-header {
		font-weight: bold;
		border-bottom: 2px solid rgb(221, 221, 221);
		padding: 8px;
	}

	div.waterfall-body > div {
		padding: 8px;
		border-bottom: 1px solid rgb(221, 221, 221);
		cursor: pointer;
	}

	div.waterfall-body > div:hover {
		background: rgba(255, 255, 255, 1);
	}

	div.waterfall-body {

		div[status="1"]
		{
		    background-image: url('../images/pending.png');
		    background-size: 64px 64px;
		}

		div[status="2"]
		{
		    background-image: url('../images/posted.png');
		    background-size: 64px 64px;
		}

		div[status="3"]
		{
		    background-image: url('../images/postfail.png');
		    background-size: 64px 64px;
		}

	}

}