<h1>Listing queue_posts</h1>

<table id="queue_posts-table">
  <tr>
    <th>Status</th>
    <th>Acc setting</th>
    <th>Pool post</th>
    <th>Post type</th>
    <th>Title</th>
    <th>Content</th>
    <th>Extra content</th>
    <th>Tags</th>
    <th>Image file</th>
    <th>Image link</th>
    <th>Link</th>
    <th>Other field</th>
    <th>Schedule time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Queue post</a>